*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 70%;
    height: 70vh;
    float: left;
    margin-left: 15%;
    margin-top: 15vh;
    border-radius: 20px;
    background: #ccc;
    box-shadow: 0 0 10px #777;
}
table{
    border-collapse: collapse;
    width: 90%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    float: left;
    margin-left: 5%;
    margin-top: 6vh;
}
td{
    border: 1px solid #555;
    padding: 3px;
    text-align: center;
}
tr:nth-child(even){ /* linhas alternadas */
    background-color: #becfd5;
}
tr:hover{ /* Ao passar o mouse */
    background-color: #333;
    color: #fff;
}
tr:first-child td{ /* Primeira Linha */
    font-weight: bold;
    background-color: #000;
    text-align: center;
    color: #fff;
}